html {
	background: #222222;
	background-image: linear-gradient(0deg, #290015 0%, #222222 6%);
	color-scheme: light dark;
	color: #FFFFEB;
	min-height: 100%;
}

body { margin: 0 auto; }

a {
	text-decoration: none;
	color: #FFFFEB;
	&:visited {
		text-decoration: none;
		color: #FFFFEB;
	}
	&.btn {
		display: inline-block;
		font-size: 108%;
		font-weight: 600;
		background-color: #222;
		border-radius: 3px;
		font-family: 'Titillium Web', sans-serif;
		padding: 6px 18px;
		border: 2px outset gray;
		border-bottom-color: #4e0029;
		&:hover, &.active {
			border-bottom: #880046 solid 2px;
		}
	}
}

h1,h2,h3 { margin: 0 }

.tree-header {
	display: flex;
	h3 {
		font-family: 'Titillium Web', sans-serif;
		font-size: 220%;
		margin: 0 auto 0 0;
	}
}

.act-btns {
	display: inline-block;
	margin: 0 0 16px;
	text-align: right;
}

.muted {
	color: #bbb;
	font-family: 'Titillium Web', sans-serif;
	font-size: 80%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: 1050px;
	> h1 {
		display: inline-block;
		font-family: 'Titillium Web', sans-serif;
		font-size: 300%;
		margin: 0 0 16px 0;
	}
	> ul {
		display: flex;
		justify-content: space-between;
		> li {
			margin: 0 0.3rem;
			border-bottom: #4e0029 solid 2px;
			border-radius: 0 0 2px 2px;
			&:hover, &.active {
				border-bottom: #880046 solid 2px;
			}
			a {
				font-size: 108%;
				padding: 0 1rem;
			}
		}
	}
}

content {
	display: block;
	margin: auto;
	text-align: center;
	width: fit-content;
	&.mw{
		width: 1050px;
	}

	header {
		max-width: none;
	}
	h3 { text-align: left; }
	&.diff {
		display: flex;
		justify-content: flex-start;
		gap: 1em;
		width: unset;
		max-width: 96%;
	}
}

button {
	font-size: 108%;
	font-weight: 600;
	background-color: #222;
	border-bottom-color: #4e0029;
	border-radius: 3px;
	font-family: 'Titillium Web', sans-serif;
	padding: 6px 18px;

	&:hover, &.active {
		border-bottom: #880046 solid 2px;
	}
	&.red {
		color: red;
	}
}

lines {
	display: inline-block;
	font-family: monospace;
	text-align: right;
	width: 50px;
}

.codeblock { background: #333; }

code {
	display: inline-block;
	font-family: "Ubuntu Mono", monospace, sans-serif;
	text-align: left;
	width: 100%;
	.blame-line {
		white-space: nowrap;
		display: block;
		.blame-header {
			display: inline-block;
			color: #aaa;
			min-width: 20rem;

			a {
				color: #aaa;
			}
			.muted {
				color: #888;
				max-height: 17px;
			}
			sha {
				width: 5em;
				display: inline-block;
			}
			author {
				width: 8em;
				display: inline-block;
			}
			time {
				width: 6.6em;
				display: inline-block;
				text-align: right;
			}
		}
		ln {
			display: inline-block;

		}
	}

	ln {
		white-space: pre;
		display: block;
		&:before {
			content: attr(num);
			width: 3em;
			display: inline-block;
		}
		&:target {
			background-color: #222;
		}
	}
}

repos {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
	text-align: left;
	repo {
		min-width: 320px;
		max-width: 480px;
		width: 30%;
		margin: 0 auto 10px 0.5%;
		bar {
			font-family: 'Titillium Web', sans-serif;
			background: #333;
			height: 30px;
			display: flex;
			justify-content: space-between;
			border-radius: 4px 4px 0 0;
			border: 1px gray solid;
			border-bottom: 0px;
			padding: 4px 0 4px 12px;
			margin: 0;
			font-size: 120%;
			name {
				display: inline-block;
				width: 70%;
				height: 100%;
				a {
					display: block;
					width 100%;
				}

			}
			a.tag {
				float: right;
				margin: 0.4rem 8px 0 0;
				white-space: nowrap;
				font-size: 70%;

			}

		}
	}
}

.tag.muted {
	color: #bbb;
	font-family: 'Titillium Web', sans-serif;
	font-size: 80%;
	&a:visited {
		color: #bbb;
	}
}

repo {
	display: block;
	&.landing {
		border-radius: 4px 4px 0 0;
		/* border: 1px solid #808080; */
		intro {
			border-radius: 4px 4px 0 0;
			padding: 10px;
			background: #333;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			text-align: left;
			span:first-child {
				min-width: 30%;
			}
			span:nth-child(2) {
				display: flex;
				flex-grow:1;
			}
		}

	}

	name {
	}
	desc {
		display: block;
		border: 1px gray solid;
		border-bottom: #4e0029 solid 2px;
		margin-bottom: 20px;
		min-height: 50px;
		display: block;
		border-radius: 0 0 4px 4px;
		padding: 8px;
		p { margin: 0 0 5px; }
		a { margin: 0 0 5px; }
		.updated {
			color: #bbb;
			font-family: 'Titillium Web', sans-serif;
			font-size: 80%;
			margin: 6px 0 0;
			display: flex;
			justify-content: space-between;
		}
		.updated:only-child {
			margin: 0
		}
	}
}

readme {
	border: 1px solid gray;
	display: block;
	margin: 2rem 0 10rem;
	border-radius: 4px 4px 0 0;
	intro {
		border-radius: 4px 4px 0 0;
		padding: 10px;
		background: #333;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		text-align: left;
	}
	.codeblock {
		white-space: pre;
	}
	code {
		width: 98%;
	}
}

.treelist {
	padding: 0 8px 8px;
	font-family: "Ubuntu Mono", monospace, sans-serif;
	tree, file {
		border-top: 1px solid gray;
		margin: auto;
		padding: 4px;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		> a {
			min-width: 30%;
			display: inline-block;
		}
		&:first-child { border-top: 0px solid gray; }
		div {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
		}
	}
	> tree > a::before { content: "📁"; padding-right: 8px;}
	> file > a::before { content: "📄"; padding-right: 8px;}
}



search {
	font-family: 'Titillium Web', sans-serif;
	background: #333;
	height: 45px;
	border-radius: 4px 4px 0 0;
	border: 1px gray solid;
	border-bottom: 0px;
	padding: 4px ;
	display: flex;
	justify-content: space-around;
}

actionable {
	border: 1px gray solid;
	border-bottom: #4e0029 solid 2px;
	border-radius: 0 0 4px 4px;
	display: block;
	margin-bottom: 20px;
	min-height: 50px;
	padding: 14px;
	row  {
		> div {
			display: flex;
			justify-content: space-between;
			.muted {
				margin: 0 3px 0 0 ;
				display: inline-block;
				width: 2em;
			}
		}
		border: none;
		border-bottom: #808080 solid 1px;
		color: rgb(255, 255, 235);
		display: block;
		margin-bottom: 15px;
		text-align: left;
		desc {
			display: block;
		}

	}
}

.upstream {
	color: #bbb;
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 90%;
	margin: 6px 0 0;
}

li {
	display: block;
	list-style: none;
}
commit {
	display: block;
	text-align: left;
	padding: 0;
	margin-bottom: 20px;
	background: #333;
	border-radius: 3px 3px 0 0;
	> data {
		display: block;
		padding: 8px;
		background: #333;
		border-radius: 3px 3px 0 0;
	}
	> top, > foot {
		text-align: left;
		display: block;
		background-color: #686868;
		padding: 8px;
		> span {
			display: inline-block;
			float: right;
		}
	}
	> top {
		border-radius: 3px 3px 0 0;
		border-top: #4e0029 solid 2px;
	}
	> foot {
		border-bottom: #4e0029 solid 2px;
		border-radius: 0 0 3px 3px;
	}
}

textarea.paste {
	width: 100%;
	min-height: 20em;
}

delta.issue {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;


	issue {
		width: 48%;
		name {
			background: #333;
			border-radius: 3px 3px 0 0;
			border: 1px gray solid;
			border-bottom: 0px;
			display: flex;
			justify-content: space-between;
			height: 1.5em;
			padding: 4px 12px;
		}
		desc {
			border: 1px solid gray;
			display: block;
			padding: 8px;
		}
	}
	comments {
		width: 48%;
	}
}

.new {
	background: white;
	color: black;
	border-radius: 100%;
	padding: 1.1px 3.3px;

}

gist {
	white-space: pre;
}

patch, gist {
	margin: 2rem 0 10rem;
	border-radius: 4px 4px 0 0;
	padding: 8px;

	header {
		border-radius: 3px 3px 0 0;
		border-top: 1px solid #780000;
		border-left: 1px solid #737373;
		border-bottom: 1px solid black;
		border-right: 1px solid #888;
		background-color: #686868;
		padding: 8px 4px;
		width: auto;
	}

	changes {
		font-family: "Ubuntu Mono", monospace, sans-serif;
		font-size: 0.8em;
		border-top: 0px;
		border-bottom: 2px #555 solid;
		border-left: 1px solid #888;
		border-right: 1px solid #666;
		display: block;
		text-align: left;
		background: #333;
		width: 100%;
		div {
			white-space: break-spaces;
		}
		.split {
			display: flex;
			span {
				flex: auto;
				margin: 0;
				width: fit-content;
				min-width: 50%;
				display: inline-block;
				overflow: scroll;
				> div {
					white-space: pre;
				}
			}
		}
		&.del { background: #5b0000 }
		&.add { background: #003e00 }
		:first-child {
			margin: 0;
		}
		.block {
			&:first-child {
				margin-top: 0;
			}
			border-top: 1px solid #999;
			border-bottom: 2px solid #222;
			background: #569;
			/* background: #4a4a91; might want to revert to this color */
			display: block;
			width: auto;
			margin: 8px auto;
			padding: 8px;
		}
	}
	.buttons {
		background: #333;
		border: 1px gray solid;
		border-top: 0px;
		display: block;
		height: 25px;
		padding: 4px 0 4px 12px;
	}

	.del { background: #633 }
	.add { background: #353 }
}

patchrequest {
	border: 1px solid gray;
	display: block;
	border-radius: 4px 4px 0 0;
	form {
		padding: 1em;
		width: 80%;
	}
	input, textarea {
		display: block;
		margin: 0 0 1em;
		width: 100%;
		background: #333;
		border: 1px solid gray;
		border-radius: 2px;
		font-size: 130%;
	}
	textarea { height: 10em }
	intro {
		border-radius: 4px 4px 0 0;
		padding: 10px;
		background: #333;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		text-align: left;
	}
}

diff {
	text-align: left;
	display: block;
	margin-bottom: 1em;

	filename {
		background: #333;
		border-radius: 3px 3px 0 0;
		border: 1px gray solid;
		border-bottom: 0px;
		display: flex;
		justify-content: space-between;
		height: 1.5em;
		padding: 4px 12px;
	}
}

form.pretty {
	display: flex;
	flex-direction: column;
	gap: 1em;
	border: 1px solid gray;
	border-bottom-color: gray;
	border-bottom: 0;
	padding-bottom: 1em;
	context {
		font-family: 'Titillium Web', sans-serif;
		background: #333;
		display: block;
		height: 35px;
		padding: 4px 0 4px 12px;
	}
	input, textarea, select {
		margin: 0 0.5em;
		flex-grow: 1;
		background: #333;
		display: inline-block;
		border: 1px solid gray;
		border-radius: 0;
		font-size: 130%;
		padding: 4px;
	}
	input, textarea {
		border-bottom: 0px solid gray;
		&:last-of-type {
			border-bottom: 1px solid gray;
		}
	}
	button {
		margin: 0 0.5em;
	}
	textarea { height: 10em }
}

input, textarea {
	padding: 10px;
	background: #222;
	border: 1px solid gray;
	border-radius: 2px;
	font-size: 120%;
}

comment {
	text-align: left;
	display: block;
	margin-bottom: 1em;
	/* max-width: 45em; */

	context {
		background: #333;
		border-radius: 3px 3px 0 0;
		border-top: 1px solid #737373;
		border-left: 1px solid #737373;
		border-bottom: 1px black solid;
		border-right: 1px #444 solid;
		display: flex;
		justify-content: space-between;
		height: 1.5em;
		padding: 4px 12px;
	}
	message {
		border-top: 1px solid #737373;
		border-left: 1px solid #737373;
		border-bottom: 1px #444 solid;
		border-right: 1px #444 solid;
		display: block;
		padding: 8px;
		overflow: auto
	}
	input, textarea {
		display: block;
		margin: 0 0 1em;
		width: 100%;
		background: #333;
		border: 1px solid gray;
		border-radius: 2px;
		font-size: 130%;
	}
	textarea { height: 10em }
	.buttons {
		background: #333;
		border: 1px gray solid;
		border-top: 0px;
		display: block;
		height: 25px;
		padding: 4px 0 4px 12px;
	}
	.muted.reply {
		text-align: right;
		float: right;
	}
}

div.coderef {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-radius: 6px;
	border-bottom: 1px solid #737373;
	border-right: 1px solid #737373;
	margin: 0 10px;
	padding: 2px 15px;
	background: #333;
	white-space: pre;
	&.red {
		background: #433;
	}
	&.green {
		background: #343;
	}
	&.yellow {
		background: #333;
	}
}

span.coderef {
	display: inline-block;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-radius: 6px;
	border-bottom: 1px solid #737373;
	border-right: 1px solid #737373;
	margin: 0;
	padding: 1px 3px;
	background: #333;
	white-space: pre;
	&.red {
		background: #433;
	}
	&.green {
		background: #343;
	}
	&.yellow {
		background: #333;
	}
}

blob {
	text-align: left;
	display: block;
	margin-bottom: 1em;
	header {
		background: #333;
		border-radius: 3px 3px 0 0;
		border: 1px gray solid;
		border-bottom: 0px;
		display: flex;
		justify-content: space-between;
		height: 1.5em;
		padding: 4px 12px;
	}
	.codeblock {
		padding: 4px 12px;
		border: 1px gray solid;
		border-bottom: 0px;
		border-top: 0px;
	}
}

.journal {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid gray;
	margin: 2px -0.3rem 0 0.4rem;
	padding: 0;
	span { padding: 0 0 0 0.3rem; }
}

.commit-flex {
	margin: auto;
	line-height: 100%;
	> .day-col {
		margin: 0 2px;
		display: inline-table;
		text-align: right;
		> .day {
			padding: 0 0 1px;
		}
	}
	.col {
		width: 13px;
		margin: 0 2px;
		display: inline-table;
		text-align: center;
		padding: 2px 0;
		.month {
			width: 13px;
			height: 13px;
			display: inline-block;
		}
		.day {
			width: 13px;
			height: 13px;
			display: inline-table;
			border: solid 1px;
			border-radius: 4px;
			border-color: #484848 #606060 #808080;
			transition: 0.2s;
			background-size: 200% auto;
			background-color: #1a1a1a;
			&:hover {
				background-position: right center;
				text-decoration: none;
			}
		}
		.day-pwr-1 { background-image: linear-gradient(108deg, #00708A 0%, #B100B5 100%); }
		.day-pwr-2 { background-image: linear-gradient(108deg, #009DB3 0%, #D000D6 95%); }
		.day-pwr-3 { background-image: linear-gradient(108deg, #00DBDE 0%, #FC00FF 100%); }
		.day-pwr-4 { background-image: linear-gradient(108deg, #00FCFF 0%, #FC1CFF 80%); }
		.day-pwr-5 { background-image: linear-gradient(108deg, #4AFDFF 0%, #FD46FF 65%); }
		.day-pwr-max { background-image: linear-gradient(108deg, #00DBDE 0%, #FC00FF 0%); }
		> div:first-child {
			line-height: 103%;
			padding: 0 0 6px;
		}
	}
}


.flex-month {
	display: block;
	margin: 2rem 0 1rem;
	div.flex-list {
		border-left: 1px solid gray;
	}
	intro {
		border-bottom: 1px solid gray;
		display: inline-block;
		font-size: 120%;
		padding: 2px 0 2px 5px;
		text-align: left;
		width: 100%;
	}

}

.blame-age-0 {  background-color: #ff5555aa;}
.blame-age-1 {  background-color: #dd4444aa;}
.blame-age-2 {  background-color: #bb2222aa;}
.blame-age-3 {  background-color: #aa1111aa;}
.blame-age-4 {  background-color: #990000aa;}
.blame-age-5 {  background-color: #660000aa;}
.blame-age-6 {  background-color: #330000aa;}
.blame-age-7 {  background-color: #220000aa;}
.blame-age-8 {  background-color: #110000cc;}
.blame-age-old {  background-color: #110000ff;}

.toggle {
	background: #333;
	border-bottom: 1px solid #737373;
	border-left: 1px solid black;
	border-radius: 6px;
	border-right: 1px solid #737373;
	border-top: 1px solid black;
	display: block;
	height: fit-content;
	margin: 0 0 0 auto;
	padding: 4px 5px;
	text-align: right;
	white-space: pre;
	width: fit-content;
	> a {
		margin: 2px 0;
		padding: 2px 12px;
		&.active {
			background: #737373;
			border-top: 1px solid black;
			border-left: 1px solid black;
			border-radius: 6px;
			border-bottom: 1px solid #737373;
			border-right: 1px solid #737373;
		}
	}
}

.verse-stats-line {
	&.verse-bot {
		background-color: #333;
		color: #888;
	}
	&.verse-stats-200 td:nth-child(4) {
		color: green;
	}
	&.verse-stats-500 td:nth-child(4) {
		color: red;
	}
}

pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ebdbb2 }
{ background: #282828; color: #dddddd }
.c { color: #928374; font-style: italic } /* Comment */
.err { color: #282828; background-color: #fb4934 } /* Error */
.esc { color: #dddddd } /* Escape */
.g { color: #dddddd } /* Generic */
.k { color: #fb4934 } /* Keyword */
.l { color: #dddddd } /* Literal */
.n { color: #dddddd } /* Name */
.o { color: #dddddd } /* Operator */
.x { color: #dddddd } /* Other */
.p { color: #dddddd } /* Punctuation */
.ch { color: #928374; font-style: italic } /* Comment.Hashbang */
.cm { color: #928374; font-style: italic } /* Comment.Multiline */
.c-PreProc { color: #8ec07c; font-style: italic } /* Comment.PreProc */
.cp { color: #928374; font-style: italic } /* Comment.Preproc */
.cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #928374; font-style: italic } /* Comment.Single */
.cs { color: #ebdbb2; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
.ge { color: #dddddd; font-style: italic } /* Generic.Emph */
.ges { color: #dddddd; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.gr { color: #fb4934 } /* Generic.Error */
.gh { color: #ebdbb2; font-weight: bold } /* Generic.Heading */
.gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
.go { color: #f2e5bc } /* Generic.Output */
.gp { color: #a89984 } /* Generic.Prompt */
.gs { color: #dddddd; font-weight: bold } /* Generic.Strong */
.gu { color: #ebdbb2; text-decoration: underline } /* Generic.Subheading */
.gt { color: #fb4934 } /* Generic.Traceback */
.kc { color: #fb4934 } /* Keyword.Constant */
.kd { color: #fb4934 } /* Keyword.Declaration */
.kn { color: #fb4934 } /* Keyword.Namespace */
.kp { color: #fb4934 } /* Keyword.Pseudo */
.kr { color: #fb4934 } /* Keyword.Reserved */
.kt { color: #fb4934 } /* Keyword.Type */
.ld { color: #dddddd } /* Literal.Date */
.m { color: #d3869b } /* Literal.Number */
.s { color: #b8bb26 } /* Literal.String */
.na { color: #fabd2f } /* Name.Attribute */
.nb { color: #fe8019 } /* Name.Builtin */
.nc { color: #8ec07c } /* Name.Class */
.no { color: #d3869b } /* Name.Constant */
.nd { color: #fb4934 } /* Name.Decorator */
.ni { color: #dddddd } /* Name.Entity */
.ne { color: #fb4934 } /* Name.Exception */
.nf { color: #8ec07c } /* Name.Function */
.nl { color: #dddddd } /* Name.Label */
.nn { color: #8ec07c } /* Name.Namespace */
.nx { color: #dddddd } /* Name.Other */
.py { color: #dddddd } /* Name.Property */
.nt { color: #8ec07c } /* Name.Tag */
.nv { color: #83a598 } /* Name.Variable */
.ow { color: #fb4934 } /* Operator.Word */
.pm { color: #dddddd } /* Punctuation.Marker */
.w { color: #dddddd } /* Text.Whitespace */
.mb { color: #d3869b } /* Literal.Number.Bin */
.mf { color: #d3869b } /* Literal.Number.Float */
.mh { color: #d3869b } /* Literal.Number.Hex */
.mi { color: #d3869b } /* Literal.Number.Integer */
.mo { color: #d3869b } /* Literal.Number.Oct */
.sa { color: #b8bb26 } /* Literal.String.Affix */
.sb { color: #b8bb26 } /* Literal.String.Backtick */
.sc { color: #b8bb26 } /* Literal.String.Char */
.dl { color: #b8bb26 } /* Literal.String.Delimiter */
.sd { color: #b8bb26 } /* Literal.String.Doc */
.s2 { color: #b8bb26 } /* Literal.String.Double */
.se { color: #fe8019 } /* Literal.String.Escape */
.sh { color: #b8bb26 } /* Literal.String.Heredoc */
.si { color: #b8bb26 } /* Literal.String.Interpol */
.sx { color: #b8bb26 } /* Literal.String.Other */
.sr { color: #b8bb26 } /* Literal.String.Regex */
.s1 { color: #b8bb26 } /* Literal.String.Single */
.ss { color: #b8bb26 } /* Literal.String.Symbol */
.bp { color: #fe8019 } /* Name.Builtin.Pseudo */
.fm { color: #8ec07c } /* Name.Function.Magic */
.vc { color: #83a598 } /* Name.Variable.Class */
.vg { color: #83a598 } /* Name.Variable.Global */
.vi { color: #83a598 } /* Name.Variable.Instance */
.vm { color: #83a598 } /* Name.Variable.Magic */
.il { color: #d3869b } /* Literal.Number.Integer.Long */


/* Titillium Licence /static/OFL.txt */
@font-face { font-family: 'Titillium Web'; font-style: italic; font-weight: 300; src: url(/static/TitilliumWeb-LightItalic.ttf) format('truetype'); }
@font-face { font-family: 'Titillium Web'; font-style: italic; font-weight: 400; src: url(/static/TitilliumWeb-Italic.ttf) format('truetype'); }
@font-face { font-family: 'Titillium Web'; font-style: italic; font-weight: 600; src: url(/static/TitilliumWeb-SemiBoldItalic.ttf) format('truetype'); }
@font-face { font-family: 'Titillium Web'; font-style: italic; font-weight: 700; src: url(/static/TitilliumWeb-BoldItalic.ttf) format('truetype'); }
@font-face { font-family: 'Ubuntu Mono'; font-style: normal; font-weight: 400; src: url(/static/UbuntuMono-Regular.ttf) format('truetype'); }
@font-face { font-family: 'Ubuntu Mono'; font-style: italic; font-weight: 400; src: url(/static/UbuntuMono-Italic.ttf) format('truetype'); }
