html {
	/*background: #201B22;*/
	background-image: linear-gradient(0deg, #290015 0%, #222222 6%);
	color-scheme: light dark;
	color: #FFFFEB;
	min-height: 100%;
}

a {
	text-decoration: none;
	color: #FFFFEB;
	&:visited {
		text-decoration: none;
		color: #FFFFEB;
	}
}

body {
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 1050px;
	> h1 {
		display: inline-block;
		font-family: 'Titillium Web', sans-serif;
		font-size: 300%;
		margin: 0 0 16px 0;
		padding: 0 0 0 40px;
		text-align: left;
		width: 25%;
	}

	a {
		font-size: 108%;
		padding: 10px 20px 2px;
		border-bottom: #7a003f solid 2px;
		border-radius: 0 0 2px 2px;
	}

	> ul {
		display: flex;
		justify-content: space-between;
		width: 50%;

		> li {
			display: inline-block;
			padding: 20px;
		}
	}
}

content {
	display: block;
	margin: auto;
	text-align: center;
	width: 1050px;
}

lines {
	display: inline-block;
	font-family: monospace;
	text-align: right;
	width: 50px;
}

.code-block { background: #333; }

code {
	display: inline-block;
	font-family: "Ubuntu Mono", sans-serif;
	text-align: left;
	white-space: pre;
	width: 100%;
	> ln {
		width: 100%;
		display: inline-block;
		&:before {
			content: attr(num);
			width: 3em;
			display: inline-block;
		}
		&:target { background-color: #222; }
	}
}

repos {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
	padding: 0 0 0 50px;
	text-align: left;
}

repo {
	width: 48%;
	margin: 0 auto 10px 0.5%;
	name {
		font-family: 'Titillium Web', sans-serif;
		background: #333;
		height: 30px;
		display: block;
		border-radius: 4px 4px 0 0;
		border: 1px gray solid;
		border-bottom: 0px;
		padding: 4px 0 4px 12px;
		margin: 0;
		font-size: 120%;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	desc {
		display: block;
		border: 1px gray solid;
		border-bottom: #7a003f solid 2px;
		margin-bottom: 20px;
		min-height: 50px;
		display: block;
		border-radius: 0 0 4px 4px;
		padding: 8px;
		p { margin-top: 0; }
	}
}

li {
	display: block;
	list-style: none;
}

.treelist {
	background: #333;
	padding: 10px;
	font-family: 'Ubuntu Mono', sans-serif;
	tree, file {
		border: 2px solid gray;
		border-top: 0px;
		margin: auto;
		padding: 4px;
		text-align: left;
		width: 98%;
		display: flex;
		justify-content: space-between;
		> a {
			min-width: 25%;
			display: inline-block;
		}
		&:first-child { border-top: 2px solid gray; }
	}
	> tree > a::before { content: "📁"; padding-right: 8px;}
	> file > a::before { content: "📄"; padding-right: 8px;}
}

commit {
	display: block;
	text-align: left;
	padding: 0;
	margin-bottom: 20px;
	background: #333;
	border-radius: 3px 3px 0 0;
	> data {
		display: block;
		padding: 8px;
		background: #333;
		border-radius: 3px 3px 0 0;
	}
	> top, > foot {
		text-align: left;
		display: block;
		background-color: #686868;
		padding: 8px;
		> span {
			display: inline-block;
			float: right;
		}
	}
	> top {
		border-radius: 3px 3px 0 0;
		border-top: #7a003f solid 2px;
	}
	> foot {
		border-bottom: #7a003f solid 2px;
		border-radius: 0 0 3px 3px;
	}
}

textarea.paste {
	width: 100%;
	min-height: 20em;
}

diff {
	white-space: pre;
	text-align: left;
	display: block;
	background: #333;
	padding: 8px;
	font-family: monospace;
}

.commit-flex {
	width: 1050px;
	margin: auto;
	line-height: 100%;
	> .day-col {
		margin: 0 2px;
		display: inline-table;
		text-align: right;
		> .day {
			padding: 0 0 1px;
		}
	}
	.col {
		width: 13px;
		margin: 0 2px;
		display: inline-table;
		text-align: center;
		padding: 2px 0;
		.month {
			width: 13px;
			height: 13px;
			display: inline-block;
		}
		.day {
			width: 13px;
			height: 13px;
			display: inline-table;
			border: solid 1px;
			border-radius: 4px;
			border-color: gray lightgray lightgray;
			transition: 0.2s;
			background-size: 200% auto;
			background-color: #303030;
			&:hover {
				background-position: right center;
				text-decoration: none;
			}
		}
		> div:first-child {
			line-height: 103%;
			padding: 0 0 6px;
		}
	}
}

.day-commits {
	background-image: linear-gradient(108deg, #00DBDE 0%, #FC00FF 100%);
}


/* Titillium Licence /static/OFL.txt */
@font-face { font-family: 'Titillium Web'; font-style: italic; font-weight: 300; src: url(/static/TitilliumWeb-LightItalic.ttf) format('truetype'); }
@font-face { font-family: 'Titillium Web'; font-style: italic; font-weight: 400; src: url(/static/TitilliumWeb-Italic.ttf) format('truetype'); }
@font-face { font-family: 'Titillium Web'; font-style: italic; font-weight: 600; src: url(/static/TitilliumWeb-SemiBoldItalic.ttf) format('truetype'); }
@font-face { font-family: 'Titillium Web'; font-style: italic; font-weight: 700; src: url(/static/TitilliumWeb-BoldItalic.ttf) format('truetype'); }
@font-face { font-family: 'Ubuntu Mono'; font-style: normal; font-weight: 400; src: url(/static/UbuntuMono-Regular.ttf) format('truetype'); }
@font-face { font-family: 'Ubuntu Mono'; font-style: italic; font-weight: 400; src: url(/static/UbuntuMono-Italic.ttf) format('truetype'); }
