<!DOCTYPE html>
<html>
<head>
<title>srctree</title>
<style>
html { background: #222222; color: #FFFFEB; min-height: 100%; }
body { width: 35em; margin: 0 auto;
</style>
</head>
<body>
<h1>404: Task Failed Successfully!</h1>
<p>The git repo you're looking for is in another castle :(<br/>
Please try again repeatedly... surely it'll work this time!</p>
<p>If you are the system administrator you should already know why <br/>
it's broken what are you still reading this for?!</p>
<p><em>Faithfully yours, Geoff from Accounting.</em></p>
</body>
</html>

