<!DOCTYPE html>
<html>
<head>
<title>zWSGI</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Task Failed Successfully!</h1>
<p>The server started working on your request, but then it died. Which is
really weird, because it was so full of life just the other day!</p>
<p> This crash wasn't your fault... but I'm still probably gonna blame you.
<br/>Sorry about that!</p>
<p>You can try again repeatedly... But it'll probably crash again, and then
that's just more blame for you! Is that a risk you're willing to take?!</p>
<p>If you are the system administrator you should already know why <br/>
it's broken what are you still reading this for?!</p>
<p><ErrorString ornull></p>
<p><em>Never in your debt, Aye-Aye-Ron from Human Resources.</em></p>
</body>
</html>

