            <form class="pretty" action="add-comment" method="POST">
              <context>Commenting as <CurrentUsername /></context>
              <textarea name=comment></textarea>
              <div style="display: flex; justify-content: flex-end;">
                <With AdminButtons>
                <button type=submit name=close value=t>Close</button>
                </With>
                <button type=submit name=submit>Comment</button>
              </div>
              <input type="hidden" name="did" value="<DeltaId />" />
              <input type="hidden" name="diff_id" value="<DiffId default="0" />" />
              <details style="padding-left:8px">
                <summary style="width: fit-content" class="ubtn">Supported Hints</summary>
                Reference a line directly with: path/to/file.zig:[line number]<br>
                Reference a line range with: path/to/file.zig:[line number]-[other line number]<br>
                Reference a few lines with: path/to/file.zig:[line number]+[number of following lines]<br>
                Reference a line that was deleted with: -path/to/file.zig:[line number]<br>
                Reference a line that was added with: +path/to/file.zig:[line number]<br>
                <!-- TODO Reference a line from a file not in the current diff with: path/to/file.zig:[line number]<br> -->
              </details>
            </form>
