<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content class="diff">
      <context>
      <With Patch>
        <With Header>
        <context><Title></context>
        <p><Message></p>
        </With>
        <diff>
        <_patch.html>
        </diff>
      </With>
      </context>

      <comments>
        <Build Comments comment_thread.html />
        <form class="pretty" action="add-comment" method="POST">
          <context><CurrentUsername></context>
          <textarea name="comment"></textarea>
          <button type="submit" name="comment">Comment</button>
          <With PatchDoesNotApply><button type="submit" name="no-apply" class="red">Patch Does Not Apply</button></With>
          <input type="hidden" name="did" value="<DeltaId>" />
        </form>
      </comments>
    </content>
  </body>
</html>
