      <For Files>
        <patch>
        <details open="open">
          <summary>
          <header>
            <span><Filename /></span>
            <strong><DiffStat /></strong>
          </header>
          </summary>
          <changes>
            <With PatchInline>
              <Split DiffLines />
            </With>
            <With PatchSplit>
            <div class="split">
              <span><Split DiffLinesLeft /></span>
              <span><Split DiffLinesRight /></span>
            </div>
            </With>
          </changes>
        </details>
        </patch>
      </For>
      <script defer>
        document.querySelectorAll("ln").forEach((elm) => {
          if (elm.id != '') { elm.addEventListener("click", (e) => { window.location.hash = e.target.id } )
        } });
      </script>
