      <For Files>
        <patch>
        <details open="open">
          <summary>
          <header>
            <span><Filename /></span>
            <strong><DiffStat /></strong>
          </header>
          </summary>
          <changes>
            <Switch PatchView>
              <Case Inlined><DiffLines /></Case>
              <Case Split><div class="split">
              <span><DiffLinesLeft /></span>
              <span><DiffLinesRight /></span>
            </div></Case>
            </Switch>
          </changes>
        </details>
        </patch>
      </For>
      <script defer>
        document.querySelectorAll("ln").forEach((elm) => {
          if (elm.id != '') { elm.addEventListener( "click", (e) => {
                let s = window.getSelection();
                if (s.anchorOffset == s.focusOffset) { window.location.hash = elm.id; }
              }, { passive: true }) }
        });
      </script>
