        <For Files>
        <patch>
          <header>
            <span><Filename /></span>
            <strong><DiffStat /></strong>
          </header>
          <changes>
            <With PatchInline>
              <Split DiffLines />  
            </With>
            <With PatchSplit>
            <div class="split">
              <span><Split DiffLinesLeft /></span>
              <span><Split DiffLinesRight /></span>
            </div>
            </With>
          </changes>
        </patch>
        </For>
