<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="lw">
      <div class="admin-actions">
      <ul>
        <Directive type="enum" name="ActiveAdmin" text="active" />
        <li><a href="" class="<ActiveAdmin enum="settings" />">Settings</a></li>
        <li><a href="" class="<ActiveAdmin enum="empty_repo" />">Empty Repo</a></li>
        <li><a href="" class="<ActiveAdmin enum="clone_repo" />">Clone Repo</a></li>
        <li><a href="" class="<ActiveAdmin enum="delete_repo" />">Delete Repo</a></li>
        <li><a href="" class="<ActiveAdmin enum="remotes" />">Remotes</a></li>
      </ul>
      </div><div class="admin-content">
      <form action="/admin/post" method="POST">
        <button name="new repo">New Repo</button>
      </form>
      </div>
    </content>
  </body>
</html>
