<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <!-- _meta_head.html -->
  </head>
  <body>
    <!-- _body_header.html -->
    <content>
      <blob>
        <a class="btn" href="<!-- blame_uri ORNULL -->/blame">blame</a>
        <header><!-- filename --></header>
        <div class="code-block">
        <code>
<!-- FOREACH blame_lines --><span class="blame-line"><span class="blame-header"><sha><a href="/repo/<!-- repo_name -->/commit/<!-- sha -->"><!-- sha --></a></sha><author><!-- author --></author><time><!-- time ORNULL --></time></span><ln num="<!-- num -->" id="<!-- id -->" href="<!-- href -->"><!-- line --></ln></span><!-- END !-->
        </code>
        </div>
      </blob>
    </content>
  </body>
</html>
