<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content>
      <blob>
        <a class="btn" href="<Blame_uri ORNULL>/blame">blame</a>
        <header><Filename></header>
        <div class="code-block">
        <code>
          <For Blame_lines><span class="blame-line"><span class="blame-header"><a href="/repo/<Repo_name>/commit/<Sha>"><Sha>&nbsp;</a><author><With AuthorEmail><a href="/user?user=<AuthorEmail>"></With><Author></a></author><time><Time ORNULL></time></span><ln num="<Num>" id="<Id>" href="<Href>"><Line></ln></span></For>
        </code>
        </div>
      </blob>
    </content>
  </body>
</html>
