<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="mw">
        <Build RepoHeader _base_repo_header.html />
      <blob>
        <header><span><Filename /></span></header>
        <div class="codeblock"><code><BlobLines /></code></div>
      </blob>
    </content>
    <script defer>
        document.querySelectorAll("ln").forEach((elm) => {
          if (elm.id != '') { elm.addEventListener( "click", (e) => {
                let s = window.getSelection();
                if (s.anchorOffset == s.focusOffset) { window.location.hash = elm.id; }
              }, { passive: true }) }
        });
    </script>
  </body>
</html>
