<!DOCTYPE html>
<html>
<head>
<title>zWSGI</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto; font-family: Tahoma, Verdana, Arial, sans-serif; }
lines { width: 5%; display: inline-block; font-family: monospace; text-align: right; }
lines > linenum { display: inline-block; border-right: 2px black solid; padding-right: 2px; }
code { display: inline-block; width: 94% }
code > span {  display: inline-block; width: 90%; white-space: pre; font-family: monospace; }
</style>
</head>
<body>
<div>
    <lines>
      <!-- lines -->
    </lines>
    <code>
      <!-- code -->
    </code>
  </div>
</body>
</html>

