<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="full">
      <div class="tree-header">
        <Build TreeBlobHeader _tree_blob_header.html />
      </div>
      <With Commit>
        <commit>
          <top>
            <author><Author></author>
            <span>parent <For Parents><a href="/repo/<Repo />/commit/<ParentShaShort />"><ParentShaShort /></a> </For></span>
          </top>
          <data>
            <a href="/repo/<Repo />/commit/<ShaShort>"><Sha /></a><br>
            <Title><br><br>
            <Body ornull />
          </data>
        </commit>
      </With>
      <Directive type="enum" name="InlineToggle" text="active" />
      <div style="width: 100%"><span class="toggle">
        <a class="<InlineToggle enum="inlined" />" href="?inline=true">inline</a>
        <a class="<InlineToggle enum="split" />" href="?inline=false">split</a>
      </span></div>

      <Build Comments _comment_thread.html />
      <diff>
      <Build Patch _patch.html />
      </diff>
    </content>
  </body>
</html>
