<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content>
      <With Commit>
        <commit>
          <top>
            <author><Author></author>
            <span>parent <a href="<Parent_URI>"><Parent_Sha_Short></a></span>
          </top>
          <data>
            <a href="<Sha_URI>"><Sha_Short></a><br>
            <Title><br><br>
            <Body>
          </data>
        </commit>
      </With>

      <!--For Comments> Commented out while I figure out how to parse XML :< -->
        <!-- _comment.html-->
      <!-- /For-->
      <!-- comments -->

      <diff>
        <patch>
          <For Files>
          <header>
            <Filename ORELSE "No Filename found">
            <DiffStat ORELSE "Data missing">
          </header>
            <changes>
              <Diff ORELSE "Missing">
            </changes>
          </For>
        </patch>
      </diff>
    </content>
  </body>
</html>
