<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content>
      <For Commits>
        <commit>
          <data>
            <a href="<Uri>" class=muted><Sha></a>
            <span><MsgTitle ornull></span>
            <br />
            <Msg>
          </data>
          <foot>
          <author><Author></author>
          <For CommitParent><span>parent <a href="<Uri>"><Sha></a></span></For>
          </foot>
        </commit>
      </For>
      <With AfterCommits><a href="/repo/<RepoName>/commits/before/<Sha>" class="btn">More</a></With>
    </content>
  </body>
</html>
