<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content>
      <For Commits>
        <commit>
          <data>
            <a href="<Uri ORELSE #>" class=muted><Sha></a>
            <span><Msg_title ORNULL></span>
            <br />
            <Msg>
          </data>
          <foot>
          <author><Author></author>
            <span>parent <a href="<Parent_uri>"><Parent></a></span>
          </foot>
        </commit>
      </For>
      <After ORNULL>
    </content>
  </body>
</html>
