<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <!-- _meta_head.html -->
  </head>
  <body>
    <!-- _body_header.html -->
    <content>
      <!-- FOREACH commits -->
        <commit>
          <data>
            <a href="<!-- uri -->"><!-- sha --></a>
            <span><!-- msg_title ORNULL --></span>
            <br />
            <!-- msg -->
          </data>
          <foot>
          <author><!-- author --></author>
            <span>parent <a href="<!-- parent_uri -->"><!-- parent --></a></span>
          </foot>
        </commit>
      <!-- END !-->
      <!-- after ORNULL -->
    </content>
  </body>
</html>
