<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <!-- _meta_head.html -->
  </head>
  <body>
    <!-- _body_header.html -->
    <content>
      <search>
        <form action="search" method="POST">
          <input name="name" type="text" placeholder="Search (not yet working)" />
        </form>
        <a class="btn" href="new">New</a>
      </search>
      <actionable>
      <!-- FOREACH list -->
        <row>
          <div>
            <div>
              <span class="muted"><!-- index --></span>
              <a href="<!-- title_uri -->"><!-- title --></a>
            </div>
            <!-- comments -->
          </div>
          <!-- desc ORNULL -->
        </row>
      <!-- END !-->
      </actionable>
    </content>
  </body>
</html>

