<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content>
      <search>
        <form action="/search" style="width:95%">
          <input name="q" type="text" placeholder="Search" value="<Search ORNULL>" style="width:97%">
        </form>
        <a class="btn" href="new" style="width:5%">New</a>
      </search>
      <actionable>
      <For List>
        <row>
          <div>
            <div>
              <span class="muted"><Index></span>
              <a href="<Title_uri>"><Title></a>
            </div>
            <Comments_icon>
          </div>
          <desc>
            <Desc ORNULL>
          </desc>
        </row>
        </For>
      </actionable>
    </content>
  </body>
</html>

