<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="search">
      <search>
        <form action="/search" style="width:95%">
          <input name="q" type="text" placeholder="Search" value="<Search ornull>" style="width:97%">
        </form>
        <a class="btn" href="new" style="width:5%">New</a>
      </search>
      <actionable>
      <For DeltaList>
        <row>
          <div>
            <div>
              <span class="muted"><Index></span>
              <a href="<TitleUri>"><Title></a>
            </div>
            <span><span class="icon <CommentNew default="" />"></span><CommentCount type="usize" /></span>
          </div>
          <desc class="muted"><Desc ORELSE &nbsp;></desc>
        </row>
        </For>
      </actionable>
    </content>
  </body>
</html>

