<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content>
      <delta class="diff">
        <main>
          <name><Title /></name>
          <div class=muted><Status /> | Created <Created /> by <Creator ornull /> | Updated <Updated /></div>
          <desc><Description /></desc>
        </main>

        <extra>
          <With Patch>
            <diff><Build Patch _patch.html /></diff>
          </With>
          <With CurlHint>
          <div>Submit changes using curl<br><span class="coderef" style="padding: 1rem 2rem;">git log -p [base commit]..HEAD | curl -F "patch=@-" https://<Host />/repo/<RepoName />/diff/<DiffIdx /></span></div>
          </With>
          <comments>
            <Build Comments _comment_thread.html />
            <form class="pretty" action="add-comment" method="POST">
              <context>Commenting as <CurrentUsername /></context>
              <textarea name="comment"></textarea>
              <button type="submit" name="comment">Comment</button>
              <With PatchWarning><button type="submit" name="no-apply" class="red">Patch Does Not Apply</button></With>
              <input type="hidden" name="did" value="<DeltaId>" />
            </form>
          </comments>
        </extra>
      </delta>
    </content>
  </body>
</html>
