<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="search">
      <search>
        <form action="<SearchAction default="/search">" style="width:95%">
          <input name="q" type="text" placeholder="Search" value="<Search ornull>" style="width:97%">
        </form>
        <a class="btn" href="new" style="width:5%">New</a>
      </search>
      <actionable>
      <For DeltaList>
        <row>
          <div class="main">
            <a href="<UriBase />/<Index />">
              <div><span class="muted">0x<Index /></span> <Title /></div>
              <With DeltaMeta><span class="meta muted"><Repo /> - <Flavor /></span></With>
              <desc class="muted"><Desc default="&nbsp;" /></desc>
            </a>
          </div>
          <div class="meta">
            <span><span class="icon <CommentNew default="" />"></span><CommentCount type="usize" /></span>
          </div>
        </row>
        </For>
      </actionable>
    </content>
  </body>
</html>

