<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <!-- _meta_head.html -->
  </head>
  <body>
    <!-- _body_header.html -->
    <content>
      <search>
        <form action="/search" style="width:95%">
          <input name="q" type="text" placeholder="Search" value="<!-- search ORNULL -->" style="width:97%">
        </form>
        <a class="btn" href="new" style="width:5%">New</a>
      </search>
      <actionable>
      <!-- FOREACH list -->
        <row>
          <div>
            <div>
              <span class="muted"><!-- index --></span>
              <a href="<!-- title_uri -->"><!-- title --></a>
            </div>
            <!-- comments_icon -->
          </div>
          <desc>
            <!-- desc ORNULL -->
          </desc>
        </row>
      <!-- END !-->
      </actionable>
    </content>
  </body>
</html>

