<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content>
        <form class="pretty" action="new" method="POST">
          <context>Suggest New Diff</context>
          <input name="patch_uri" placeholder="Patch URL" />
          <input name="title" placeholder="Diff Title" />
          <textarea name="desc" placeholder="Additional information about this patch suggestion"></textarea>
          <buttons>
            <button name="submit">Submit</button>
            <button name="preview">Preview</button>
          </buttons>
        </form>
    </content>
  </body>
</html>
