<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <!-- _meta_head.html -->
  </head>
  <body>
    <!-- _body_header.html -->
    <content class="patch">
      <patchheader>
        <!-- patch_header -->
      </patchheader>
    </content>
    <content class="patch">
      <!-- patch -->
      <comments>
        <!-- comments -->
        <form method="POST" action="add-comment">
          <context></context>
          <textarea name="comment"></textarea>
          <button type="submit" name="comment">Comment</button>
          <!-- form-data -->
        </form>
      </comments>
    </content>
  </body>
</html>
