<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content>
        <form class="pretty" action="create" method="POST">
          <context>Suggest New Diff</context>
          <input name="title" placeholder="Diff Title" value="<Title ornull>" />
          <With Network>
              <div style="display:flex">
              <select name="network">
              <For Remotes>
                <option value="<Value>"><Name></option>
              </For>
              </select><span style="font-size: 130%;margin: auto;">/</span>
              <select name="branch">
              <For Branches>
                <option value="<Value>"><Name></option>
              </For>
              </select>
              </div>
          </With>
          <With PatchUri><div style="display:flex"><input name="patch_uri" placeholder="Patch URL" /><button name="from_network" value="true" formaction="new">Use Network</button></div></With>
          <textarea name="desc" placeholder="Additional information about this patch suggestion"><Desc ornull></textarea>
          <buttons>
            <button name="submit">Submit</button>
            <button name="preview">Preview (does nothing)</button>
          </buttons>
        </form>
    </content>
  </body>
</html>
