<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <!-- _meta_head.html -->
  </head>
  <body>
    <!-- _body_header.html -->
    <content class="issue">
      <!-- issue -->
      <comments>
        <!-- comments -->
        <form method="POST" action="add-comment">
          <context><!-- current_username ORNULL --></context>
          <textarea name="comment"></textarea>
          <button type="submit" name="comment">Comment</button>
          <!-- form-data -->
        </form>
      </comments>
    </content>
  </body>
</html>
