<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content>
      <Switch Flavor>
        <Case Default>
        <form class="pretty" action="new" method="POST">
          <context>Open New Issue</context>
          <input name="title" placeholder="Issue Title" />
          <textarea name="desc" placeholder="Additional information about this issue"></textarea>
          <buttons>
            <div>
              <button name="remote">Reference Remote Issue</button>
            </div>
            <div>
              <button name="preview" value=t>Preview</button>
              <button name="submit" value=t>Submit</button>
            </div>
          </buttons>
        </form>
        </Case>
        <Case Edit>
        <form class="pretty" action="edit" method="POST">
          <context>Open New Issue</context>
          <input name="index" value="<Index />" type=hidden />
          <input name="title" placeholder="Issue Title" value="<Title />" />
          <textarea name="desc" placeholder="Additional information about this issue"><TextArea /></textarea>
          <buttons>
            <div>
              <button name="preview" value=t>Preview</button>
              <button name="submit" value=t>Submit</button>
            </div>
          </buttons>
        </form>
        </Case>
        <Case Remote>
        <form class="pretty" action="new-remote" method="POST">
          <context>Open New Issue</context>
          <input name="uri" placeholder="Remote Issue URL" />
          <buttons>
            <div><button name="new">File New Issue</button></div>
            <div><button name="submit">Load</button></div>
          </buttons>
        </form>
        </Case>
      </Switch>
    </content>
  </body>
</html>
