<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content>
        <form class="pretty" action="new" method="POST">
          <context>Open New Issue</context>
          <input name="title" placeholder="Issue Title" />
          <textarea name="desc" placeholder="Additional information about this issue"></textarea>
          <buttons>
            <div>
              <button name="remote" style="color: #bbb">Reference Remote Issue</button>
            </div>
            <div>
              <button name="submit">Submit</button>
              <button name="preview">Preview</button>
            </div>
          </buttons>
        </form>
    </content>
  </body>
</html>
