<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <link href="/static/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
    <h1>srctree</h1>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/repos">repos</a></li>
      <li><a href="/user">owner</a></li>
      <li><a href="/tree">tree</a></li>
    </ul>
    <span class="auth"><!-- header.auth --></span>
    </header>
    <content>
      <!-- head-commit -->
      <div class="treelist">
      <!-- files -->
      </div>

      <b><!-- branch.default --></b>
      <p>branches</p>
      <!-- branches -->
    </content>
  </body>
</html>
