<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content>
      <div class="act-btns">
        <With Upstream>
        <a class="btn" href="<URI>">Go To Upstream</a>
        </With>
        <a class="btn" href="<Repo_name ornull>/commits">commits</a>
        <a class="btn" href="<Repo_name ornull>/issues/new">New Issue</a>
        <a class="btn" href="<Repo_name ornull>/diffs/new">Suggest Diff</a>
      </div>

      <For Tags>
        <Name><br>
      </For>

    </content>
  </body>
</html>
