<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="mw">
      <Buttons ornull />
      <repolist>
      <For RepoList>
      <repo class="<RepoClass ornull/>">
          <bar>
          <name><a href="<Uri>"><Name></a></name>
            <With Tag><a href="<Uri>" title="<Title>" class="tag muted"><Tag></a></With>
          </bar>
          <desc>
            <Desc ornull />
            <p class="upstream"><With UpstreamBlk><a href="<Link />"><Link /></a></With>
            </p>
            <div class="updated">
              <span><Updated></span>
            </div>
            <svg style="float: right;" width="114" height="50">
              <defs>
                <linearGradient id="line" x1="0" x2="0" y1="0" y2="1">
                  <stop offset="0%" stop-color="#4444ff"></stop>
                  <stop stop-color="#0000aa" offset="40%"></stop>
                  <stop offset="100%" stop-color="#101066"></stop>
                </linearGradient>
              </defs>
              <rect x="0" y="0" height="50" width="114"></rect>
              <path stroke-width="2" stroke="url(#line)" d="M 5 46 v 1 v -1 <SvgPoints />"></path>
            </svg>
          </desc><last></last>
        </repo>
      </For>
      </repolist>
    </content>
  </body>
</html>
