<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content>
      <form method="POST" class="settings pretty" action="/settings/post">
        <For ConfigBlocks>
        <div class="block">
        <label>Block Name</label>
        <input name="block_name" value="<ConfigName ORELSE default>"/>
        <br>
        <textarea name="block_text" cols="100" rows="<Count ORELSE 10>"><ConfigText ORNULL></textarea>
        </div>

        </For>
        <button type="submit" name="new_block">Add New Block</button>
        <button type="submit" name="save">Save</button>
      </form>

    </content>
  </body>
</html>
