<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="mw">
      <div class="tree-header">
        <Build TreeBlobHeader _tree_blob_header.html />
      </div>
      <repo class="landing">
        <intro>
        <span><a href="/repo/<RepoName />/branches"><BranchCount type="usize" /> branches</a></span>
        <span><CommitSlug /></span>
        <span class="muted"><CommitTimeHuman/>&nbsp;<a href="/repo/<RepoName />/commit/<CommitHexShort/>"><CommitHexShort /></a></span>
        </intro>
        <div class="treelist">
          <With DotDot><tree><a href="<Href />">..</a></tree></With>
          <For CommitFilelistTrees>
          <tree><a href="<Href />"><Name /></a><div><a href="<CommitHref />"><CommitTitle /></a><span><CommitTime /></span></div></tree></For>
          <For CommitFilelistFiles>
          <file><a href="<Href />"><Name /></a><div><a href="<CommitHref />"><CommitTitle /></a><span><CommitTime /></span></div></file></For>
        </div>
      </repo>
      <Readme ornull>
    </content>
  </body>
</html>
