<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="mw">
      <div class="act-btns">
        <With Upstream>
        <a class="btn" href="<Uri>">Go To Upstream</a>
        </With>
        <a class="btn" href="/repo/<RepoName>/commits">commits</a>
        <a class="btn" href="/repo/<RepoName>/issues/new">New Issue</a>
        <a class="btn" href="/repo/<RepoName>/diffs/new">Suggest Diff</a>
      </div>
      <Repo>
      <Readme ornull>
    </content>
  </body>
</html>
