<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content class="mw">
      <div class="tree-header">
        <Build TreeBlobHeader _tree_blob_header.html />
      </div>
      <repo class="landing">
        <intro>
        <span><a href="/repo/<RepoName />/branches"><BranchCount type="usize" /> branches</a></span>
        <span><CommitSlug /></span>
        <span class="muted"><CommitTimeHuman />&nbsp;<a href="/repo/<RepoName />/commit/<CommitHexShort/>"><CommitHexShort /></a></span>
        </intro>
        <div class="treelist">
          <With DotDot><tree><a href="<Href />">..</a></tree></With>
          <For CommitFilelistTrees>
          <span class="tree"><a href="<Href />"><Name /></a><div><a href="<CommitHref />"><CommitTitle /></a><span><CommitTime /></span></div></span></For>
          <For CommitFilelistFiles>
          <span class="file"><a href="<Href />"><Name /></a><div><a href="<CommitHref />"><CommitTitle /></a><span><CommitTime /></span></div></span></For>
          <With CommitFilelistHidden>
          <input class="magic" type="checkbox" id="dotfiles" style="display: none">
          <div class="magic">
            <label for="dotfiles" class="muted"><Count type="usize" /> hidden files</label>
            <For CommitFilelistHiddenFiles>
            <span class="<Class />"><a href="<Href />"><Name /></a><div><a href="<CommitHref />"><CommitTitle /></a><span><CommitTime /></span></div></span></For>
          </div>
          </With>
        </div>
      </repo>
      <Readme ornull>
    </content>
  </body>
</html>
