<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content>
      <h3><Total_hits> commits across <Checked_repos> repos!</h3>
      <div class="commit-flex">
        <!--For Flexes_-->
        <div class="day-col">
          <div class="day">&nbsp;</div>
          <div class="day">Sun</div>
          <div class="day">Mon</div>
          <div class="day">Tue</div>
          <div class="day">Wed</div>
          <div class="day">Thr</div>
          <div class="day">Fri</div>
          <div class="day">Sat</div>
        </div>
        <Flexes>

        <!--For-->

      </div>

    <For Months>
      <div class="flex-month">
        <intro>
          <Group>
        </intro>
        <For Rows>
          <journal>
          <span><Name> wrote a commit in <Repo> on <Date></span>
          <span><Sha></span>
          </journal>
        </For>
      </div>
    </For>
    </content>
  </body>
</html>

