<!DOCTYPE html>
<html>
  <head>
    <title>srctree</title>
    <_meta_head.html>
  </head>
  <body>
    <_body_header.html>
    <content class="mw">
      <h3><TotalHits> commits across <CheckedRepos> repos!</h3>
      <div class="commit-flex">
        <!--For Flexes_-->
        <div class="day-col">
          <div class="day">&nbsp;</div>
          <div class="day">Sun</div>
          <div class="day">Mon</div>
          <div class="day">Tue</div>
          <div class="day">Wed</div>
          <div class="day">Thr</div>
          <div class="day">Fri</div>
          <div class="day">Sat</div>
        </div>
        <Flexes>

        <h3 style="float: right"><CurrentStreak></h3>
      </div>

    <For Months>
      <div class="flex-month">
        <intro>
          <Group>
        </intro>
        <Lead ornull>
        <For JournalRows>
          <journal>
            <span><a href="/repo/<Repo>/commit/<Sha>"><Sha></a>: <Title></span>
            <span>
              <span>in <a href="/repo/<Repo>"><Repo></a></span>
              <span>on <Date></span>
            </span>
            <!--span><Sha></span-->
          </journal>
        </For>
      </div>
    </For>
    </content>
  </body>
</html>

